.content
  %h2
    Hi! I am 
    %strong Buddy Magsipoc. 

  %p I play Starcraft

  %p
    I think I know some Ruby and Javascript

    %ul.projects
      %li= link_to "Philippine Online Gaming Latency Report", "https://keikun17.github.io/latency_survey"
      %li= link_to "MWO weapon and heat simulator (v1)", "https://keikun17.github.io/mwo_heat_simulator/"
      %li= link_to "MWO weapon and heat simulator (v2)", "https://keikun17.github.io/mwo-viewer/"
      %li= link_to "SC2 games chart", "https://keikun17.github.io/sc2games-chart-client/"


  %p
    I collect 
    %strong Keyboards
    %ul.keyboards
      %li
        Poker II (Datamancer keycaps and Datamancer oak case) - MX Brown
      %li
        Leopold FC660C - Topre
      %li 
        Infinity Clear - Cherry MX Clears  
        %span.muted DIY
        = link_to "", "http://imgur.com/a/PMWJG", class: 'ico ico-pic'
      %li 
        Ergodox EZ
        = link_to "", "http://imgur.com/a/8WpFU", class: 'ico ico-pic'

  %p
    And I like Star Wars. I own and assembled some 
    %strong Lightsabers

    %ul.lightsabers
      %li
        ForceFX Obi-wan
      %li 
        ForceFX Darth Vader
      %li 
        ForceFX Dooku
        %span.muted Sold 01/28/2016
      %li 
        Saberforge Acolyte
      %li 
        Saberforge Templar
      %li 
        Korbanth Kylo Ren
        %span.muted DIY-WIP
      %li 
        Korbanth Graflex 2.0
        %span.muted DIY-WIP
      %li 
        Vader's Vault Ardent Elite 
        %span.muted (ETA April 2016)
      %li 
        Harp's Unnamed project
        %span.muted (ETA April 2016)
      %li 
        Solo's Hold TFU2
        %span.muted (ETA June 2016 by Darth Alice)
